#app .container-call {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 1em;
  cursor: pointer;
}

#app .container-call:last-child {
  border-bottom: 1px solid #dddddd;
}

#app .icon {
  width: 2em;
  height: 2em;
}

#app .container-call .info {
  margin-left: 0.5em;
}

#app .container-call .call-info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

#app .container-call .call-info .call-caller {
  font-weight: bold;
  font-size: 1.15em;
}

#app .container-call .call-info .call-missed {
  color: #c42e20;
}

#app .container-call .call-info .call-type {
  color: #aaa;
  margin-top: 0.25em;
  font-size: 0.9em;
}

#app .container-call .call-date {
  margin-left: auto;
  color: #aaa;
  font-size: 0.9em;
}

#app .container-call input {
  width: 0;
  margin: 0;
  display: flex;
  transition: all 0.2s ease-out;
}

#app .container-call .visible {
  width: auto;
  margin-right: 1em;
}

#app .container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
}

#app .container-menu .container-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#app .container-menu .container-button .icon-button {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.5em;
}

#app .container-menu .container-button span {
  font-weight: bold;
}

#app .container-links {
  display: flex;
  padding: 0.5em 1em 1em 1em;
  justify-content: space-between;
}

#app .container-links .link-archive {
  cursor: pointer;
  color: rgb(0, 85, 255);
}
