.activity-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
}

.activity-detail .icon {
  width: 1em;
}
