.backlink {
  cursor: pointer;
  color: rgb(0, 85, 255);
}

.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-user .user-icon {
  width: 10em;
  height: 10em;
}

.container-user .info-type {
  margin-top: 0.5em;
  color: #999;
}

.container-call-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2em;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px 0;
}

.call-info-hour-type {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  font-size: 0.9em;
}

.call-info-hour-type .call-info-type {
  font-weight: bold;
  margin-left: 1em;
}

.call-info-hour-type .call-info-duration {
  margin-left: 1em;
}
