#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 666px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow-y: scroll;
  height: auto;
}

#app .container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
}

#app .container-menu .container-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#app .container-menu .container-button .icon-button {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.5em;
}

#app .container-menu .container-button span {
  font-weight: bold;
}

#app .container-archive {
  padding: 1em;
}

#app .container-view::-webkit-scrollbar {
  width: 0.5em;
}

#app .container-view::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 1em;
}
